{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="slider sliderv2">
    <div class="container">
        <div class="row">
            <div class="slider-single-item">
                <div class="movie-item">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="title-in">
                                <div class="cate">
                                    {% for category in header_movie.categories.all %}
                                    <span class="orange"><a href="#">{{category.name}}</a></span>
                                    {% endfor %}
                                </div>

                                <h1><a><span>{{header_movie.title}}</span></a></h1>
                                <div class="social-btn">
                                </div>
                                <div class="mv-details">

                                    <ul class="mv-infor">
                                        <li> Run Time: {{header_movie.hours}}</li>
                                    </ul>
                                </div>
                                <div class="btn-transform transform-vertical">
                                    <div><a href="{% url 'detail' header_movie.slug %}" class="item item-1 redbtn">more
                                        detail</a></div>
                                    <div><a href="{% url 'detail' header_movie.slug %}"
                                            class="item item-2 redbtn hvrbtn">more detail</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="mv-img-2">
                                <a href="#"><img src="{{header_movie.image.url}}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="trailers full-width">
    <div class="row ipad-width">
        <div class="col-md-9 col-sm-12 col-xs-12">

            <div class="title-hd">
                <h2>in theater</h2>
            </div>
            <div class="videos">
                <div class="slider-for-2 video-ft">
                    {% for link in indexMovie %}
                    <div>
                        <iframe class="item-video" src="#" data-src="{{link.youtube_link}}"></iframe>
                    </div>
                    {% endfor %}
                </div>

                <div class="slider-nav-2 thumb-ft">
                    {% for imovie in indexMovie %}
                    <div class="item">

                        <div class="trailer-img">
                            <img src="{{imovie.image.url}}" alt="photo by Barn Images"
                                 width="4096" height="2737">
                        </div>
                        <div class="trailer-infor">
                            <h4 class="desc">{{imovie.name}}</h4>
                            <p>{{imovie.sure}}</p>
                        </div>


                    </div>
                    {% endfor %}


                </div>
            </div>


        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar">
                <div class="celebrities">
                    <h4 class="sb-title">Katagoriler</h4>

                    {% for ct in categories %}

                    <div class="celeb-item">


                        <a class="light" href="{% url 'category_list' ct.slug  %}">{{ct.name}}</a>


                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>


    </div>
    {% endblock %}





