{% extends 'layout.html' %}


{% block content %}
<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="{{movie.image.url}}" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="{{movie.youtube_link}}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>


                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">

                        {{message}}
                    </div>
                    {% endfor %}

                    {% endif %}
                    <h1 class="bd-hd">{{movie.title}}<span> {{movie.releasedate}}</span></h1>
                    {% if user.is_authenticated %}
                    {% if movie in fav_movies %}
                    <div class="social-btn">
                        <form action="{% url 'favorite_film_delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}">
                            <input type="hidden" name="movie_id" value="{{movie.id}}">
                            <button type="submit"><a class="parent-btn"><i class="ion-heart"></i> Favoriden Sil</a>
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <div class="social-btn">
                        <form action="{% url 'favorite_film' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}">
                            <input type="hidden" name="movie_id" value="{{movie.id}}">
                            <button type="submit"><a class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                            </button>
                        </form>


                    </div>
                    {% endif %}
                    {% endif %}


                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span>{{movie.puan}}</span> /10<br>
                            </p>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>{{movie.description}}</p>

                                            <!-- movie cast -->

                                            <div class="title-hd-sm">
                                                <h4>User reviews</h4>
                                            </div>
                                            <!-- movie user review -->
                                            <div class="mv-user-review-item">
                                                <h3>Yorum Ekle:</h3>
                                                <form action="{% url 'comment' movie.slug %}" method="POST">
                                                    {% csrf_token %}
                                                    Name: <input type="text" name="comment_author" placeholder="Name">
                                                    <textarea name="comment_content" placeholder="Comment"></textarea>
                                                    <br>
                                                    <button type="submit">Ekle</button>
                                                </form>
                                                <hr>
                                                {% if comments %}
                                                {% for comment in comments %}
                                                <div class="media mb-4">
                                                    <div class="media-body">
                                                        <h5 class="mt-0" style="color:white">{{comment.comment_author}}</h5>
                                                        <p>{{comment.comment_content}}</p>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                                {% else %}

                                                {% endif %}



                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Director: </h6>
                                                <p><a>{{movie.director}}</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Genres:</h6>
                                                {% for category in movie.categories.all %}
                                                <p><a href="">{{category.name}}</a>
                                                    {% endfor %}
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>{{movie.releasedate}}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Run Time:</h6>
                                                <p>{{movie.hours}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}