{% extends 'layout.html' %}


{% block content %}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-8 col-sm-12 col-xs-12">
                {% for film in films %}

                <div class="movie-item-style-2">
                    <img src="{{film.image.url}}" alt="">
                    <div class="mv-item-infor">
                        <h6><a href="{% url 'detail' film.slug %}">{{film.title}}
                            <span>({{film.releasedate}})</span></a></h6>
                        <p class="rate"><i class="ion-android-star"></i><span>{{film.puan}}</span> /10</p>
                        <p class="describe">{{film.description|slice:":150"}}..</p>
                        <p class="run-time"> Run Time: {{film.hours}}
                        <p>Director: <a href="#">{{film.director}}</a></p>

                    </div>
                </div>
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>


            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                {% for cat in category %}

                <h2 style="color: white; background-color: #020D18; padding: 10px;">
                    <a href="{% url 'category_list' cat.slug  %}" style="color: white; text-decoration: none;">{{cat.name}}</a>
                </h2>
                <br>
                {% endfor %}


            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}